<!doctype html>
<meta charset="utf-8">


<html ng-app = "App">

  <head>
     <script src="../bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="langs.js"></script>
  </head>

  <body ng-controller="AppController">
    <div id="div_language">
      <select id="selectLanguage" ng-model="languages.select">Input Language</select>
      {{languages.select}}
      <script>
      
      for (var i = 0; i < langs.length; i++) {
        selectLanguage.options[i] = new Option(langs[i][0], langs[i][1]);
      }

      </script>

    </div>
    <button id="test" ng-click="voice()">Click and speak</button>  
  </body>

</html>
